{{ form_start(form) }}
    <div class="form-errors-container">
        {{ form_errors(form) }}
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.date) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.disturbanceType) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.startTime) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.endTime) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.description) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.witness) }}
        </div>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
