{% extends 'base.html.twig' %}

{% block title %}ProtocollEntry{% endblock %}

{% block body %}
    <h1>ProtocollEntry</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ protocoll_entry.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ protocoll_entry.date ? protocoll_entry.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DisturbanceType</th>
                <td>{{ protocoll_entry.disturbanceType }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ protocoll_entry.startTime ? protocoll_entry.startTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndTime</th>
                <td>{{ protocoll_entry.endTime ? protocoll_entry.endTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ protocoll_entry.description }}</td>
            </tr>
            <tr>
                <th>Witness</th>
                <td>{{ protocoll_entry.witness }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_protocol_entry_index') }}">back to list</a>

    <a href="{{ path('client_protocol_entry_edit', {'id': protocoll_entry.id}) }}">edit</a>

    {{ include('client_protocol_entry/_delete_form.html.twig') }}
{% endblock %}
